
		<div class="row" style="width: 90%; margin: 20px auto;">
			<h1>
			<span>本日の注文件数は</span>
		 		<%=link_to admins_orders_path(day: 1) do%>
					<%= @count %>
				<% end %>
			<span>件です</span>
			</h1>

			<table class="table">
				<tr>
					<td class="col-xs-4"></td>
					<td style ="text-align: center", class="col-xs-4">商品</td>
					<td style ="text-align: center", class="col-xs-4">個数</td>
				</tr>
				<% @items.each do |item|%>
				<tr>
					<td style ="text-align: center"><%= attachment_image_tag item.product, :image, style: "width: 200px;" %></td>
					<td ><%= item.product.name %></td>
					<td style ="text-align: center"><%= item.today_count %></td>
				</tr>
				<!-- item.today_count  -->
				<% end %>
			</table>
		</div>