<!-- ジャンル一覧ページ -->

<div class="index-container" style="width:40%; margin: 20px auto;">

  <h3>ジャンル管理画面</h3>

  <!-- ジャンル追加フォーム -->
  <%= form_for(@genre, url:admins_genres_path) do |f| %>

    <div class="form-group">
      <p>ジャンル追加</p>
      <%= f.text_field :name %>
      <%= f.submit '追加', class:"btn btn-info btn-md" %>
    </div>
  <% end %>

  <!-- ジャンル一覧/使用切り替え/編集 -->
  <table class="table">
  	<thead>
      <tr>
	    <th>ジャンル一覧</th>
      </tr>
    </thead>
    <% @genres.each do |genre| %>

      <tr>
        <th>
	      <%= genre.name %>
	    </th>
	    <td>

	      <% if genre.is_disable == false  %>
	        <%= link_to "無効にする", disable_admins_genre_path(genre), class:"btn btn-danger btn-md", method: :patch %>
	      <% elsif genre.is_disable == true %>
		  <%= link_to "有効にする", enable_admins_genre_path(genre), class:"btn btn-success btn-md", method: :patch %>
	    <% end %>

        <%= link_to "編集する", edit_admins_genre_path(genre), class:"btn btn-primary btn-md" %>
	  </td>
    </tr>

  <% end %>
</table>

</div>