<div class="row" style="width:60%; margin:0 auto;">
<h4>会員一覧画面</h4>

<table class="table table-bordered">
	<tr>
		<th>顧客ID</th>
		<th>氏名</th>
		<th>フリガナ</th>
		<th>メールアドレス</th>
		<th>ステータス</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td>
			<%= link_to admins_user_path(user) do %>
				<%= user.last_name %> <%= user.first_name %>
			<% end %>
		</td>
		<td><%= user.last_name_kana %> <%= user.first_name_kana %></td>
		<td><%= user.email %></td>
		<% if user.is_deleted == false %>
			<td><span class="badge" style="background:green">会員</span></td>
		<% else %>
			<td><span class="badge" style="background:red">退会済み</span></td>
		<% end %>
	</tr>
	<% end %>
</table>
</div>