<h4>購入情報入力</h4>

<%= form_for(@order) do |f| %>
	<%= f.hidden_field :user_id %>
	<div class="form-group">
		<label>支払い方法</label>

		<div class="radio">
			<label><%= f.radio_button :payment, :クレジットカード %>クレジットカード</label>
		</div>
		<div class="radio">
			<label><%= f.radio_button :payment, :銀行振込 %>銀行振込</label>
		</div>
	</div>

	<div class="form-group">
		<label>お届け先</label>

		<!-- 自宅 -->
		<div class="radio">
			<label>
				<%= radio_button_tag("_address", "myAddress") %>ご自身の住所
			</label>
		</div>
			<span>
			</span>

		<!-- 登録した配送先 -->
		<div class="radio">
			<label><%= radio_button_tag("_address", "shipAddress") %>登録済住所から選択</label>
		</div>
		<% @adds.each do |a| %>
			<span>
				〒<%= a.postal_code %> <%= a.address %>
				<%= a.last_name %><%= a.first_name %>
			</span><br>
		<% end %>

		<!-- 新しく配送先を設定-->
		<div class="radio">
			<label><%= radio_button_tag("_address", "newAddress") %>新しいお届け先</label>
		</div>
	</div>

	<%= f.submit '登録する' %>


<% end %>