<h4>購入情報入力</h4>

<%= form_for(@order) do |f| %>
	<%= f.hidden_field :user_id %>
	<div class="form-group">
		<label>支払い方法</label>

		<div class="radio">
			<label><%= f.radio_button :payment, :クレジットカード %>クレジットカード</label>
		</div>
		<div class="radio">
			<label><%= f.radio_button :payment, :銀行振込 %>銀行振込</label>
		</div>
	</div>

	<div class="form-group">
		<label>お届け先</label>

		<!-- 自宅 -->
		<div class="radio">
			<label>
				<%= radio_button_tag("_add", "usersAdd") %>ご自身の住所
			</label>
		</div>
			<span>
				〒<%= current_user.postal_code %>
				<%= current_user.address %>
			</span>

		<!-- 登録した配送先 -->
		<div class="radio">
			<label><%= radio_button_tag("_add", "shipAdds") %>登録済住所から選択</label>
		</div>
			<%= collection_select(:ShipToAddress, :id, @ads, :id, :address) %>

		<!-- 新しく配送先を設定-->
		<div class="radio">
			<label><%= radio_button_tag("_add", "newAdd") %>新しいお届け先</label>
		</div>
			<%= f.fields_for :ship_to_address do |a| %>
			<label>郵便番号</label>
				<%= a.text_field :postal_code %>
			<label>住所</label>
				<%= a.text_field :address %>
			<div class="row"></div>
			<label>姓名</label>
				<%= a.text_field :last_name %><%= a.text_field :first_name %>
			<label>カナ</label>
				<%= a.text_field :last_name_kana %><%= a.text_field :first_name_kana %>
			<% end %>
	</div>

	<%= f.submit '登録する' %>


<% end %>