<h4>ショッピングカート</h4>

<div class="pull-right">
	<%= link_to cart_items_path, method: :delete do %>
		<span class="btn btn-danger">カートを空にする</span>
	<% end %>
</div>

<%= form_for cart_items_path, method: :patch do |f| %>
<table class="table table-bordered">
	<tr>
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
		<th></th>
	</tr>
 <% @cart_items.each do |item| %>
	<tr>
		<td>
			<%= hidden_field_tag :product_id, item.product_id %>
			<%= item.product.name %>
		</td>
		<td>
 			<%= hidden_field_tag :product_price, item.product.price %>
			<%= addTax(item.product.price) %>
		</td>
		<td>
			<%= number_field_tag :quantity, item.quantity, in: 1..10 %>
		</td>
		<td>
			<%= hidden_field_tag :price, item.price %>
			<%= addTax(item.price) %>
		</td>
		<td><%= link_to '削除する', cart_item_path(item), method: :delete %></td>
	</tr>
 <% end %>
</table>

<div class="row">
	<div class="col-xs-4">
		<%= link_to '買い物を続ける', root_path %>
	</div>
	<div class="col-xs-4 pull-right">
		<table class="table table-striped">
			<tr><th>合計金額</th></tr>
			<tr><td><%= addTax(@total_price) %></td></tr>
		</table>
		<%= f.submit '再計算する' %>
		<% end %>
	</div>
</div>

<!-- カートに商品が入っていたら表示させる -->
<% if @cart_items.blank? %>
<% else %>
	<%= link_to '購入情報の入力', new_order_path %>
<% end %>