<!-- 配送先編集画面 -->

<body>

  <!-- 編集フォーム見出し -->
  <h1>配送先編集</h1>

  <!-- 編集フォーム -->
  <%= form_for(@ship_to_address) do |f| %>
    <table>
      <tr>
	    <td>郵便番号</td>
	    <td><%= f.text_field :postal_code, autofocus: true %></td>
	  </tr>
	  <tr>
	    <td>住所</td>
	    <td><%= f.text_field :address, autofocus: true %></td>
	  </tr>
	  <tr>
	    <td>電話番号</td>
	    <td><%= f.text_field :phone, autofocus: true %></td>
	  </tr>
	  <tr>
	    <td>(姓/名)</td>
	    <td><%= f.text_field :last_name, autofocus: true %><%= f.text_field :first_name, autofocus: true %></td>
	  </tr>
	  <tr>
	    <td>(セイ/メイ)</td>
	    <td><%= f.text_field :last_name_kana, autofucus: true %><%= f.text_field :first_name_kana, autofucus: true %></td>
	  </tr>
    </table>

    <!-- 編集確定ボタン -->
    <%= f.submit "編集する" %>
  <% end %>

</body>