<!-- 配送先一覧・登録画面 -->

<div class="index-container" style="width:60%; margin: 20px auto;">

  <!-- 配送先登録フォーム -->
      <h5>配送先/一覧</h5>
      <%= form_for (@ship_to_address) do |f| %>
        <table class="table table-bordered">
	      <tr>
		    <th>郵便番号</th>
		    <td><%= f.text_field :postal_code %></td>
	      </tr>
	      <tr>
		    <th>住所</th>
		    <td><%= f.text_field :address, style: "width: 80%;" %></td>
	      </tr>
	      <tr>
	  	    <th>電話番号</th>
	  	    <td><%= f.text_field :phone %></td>
	      </tr>
	      <tr>
		    <th>姓/名</th>
		    <td><%= f.text_field :last_name %>/<%= f.text_field :first_name %></td>
	      </tr>
	      <tr>
	  	    <th>セイ/メイ</th>
	  	    <td><%= f.text_field :last_name_kana %>/<%= f.text_field :first_name_kana %></td>
	      </tr>
	    </table>
	      <%= f.submit "登録する", class:"btn btn-primary btn-md" %>
      <% end %>

  <!-- 配送先一覧/編集/削除/ -->
  <table class="table table-bordered" style="margin-top: 20px;">
  	<thead>
	  <tr>
	    <th>郵便番号</th>
		<th>住所</th>
		<th>電話番号</th>
		<th>宛名</th>
		<th>あてな</th>
		<th></th>
	  </tr>
    </thead>
	<% @ship_to_addresses.each do |ship_to_address| %>
	  <tbody>
	    <tr>
		  <td>
			<%= ship_to_address.postal_code %>
		  </td>
		  <td>
			<%= ship_to_address.address %>
		  </td>
		  <td>
			<%= ship_to_address.phone %>
		  </td>
		  <td>
			<%= ship_to_address.last_name %><%= ship_to_address.first_name %>
		  </td>
		  <td>
			<%= ship_to_address.last_name_kana %><%= ship_to_address.first_name_kana %>
		  </td>
		  <td>
			<%= link_to "編集する", edit_ship_to_address_path(ship_to_address), class:"btn btn-primary btn-md" %>
			<%= link_to "削除する", ship_to_address_path(ship_to_address), class:"btn btn-danger btn-md", method: :delete %>
		  </td>
	    </tr>
	  </tbody>
	<% end %>
  </table>

</div>