<style>
 th {
 	background: #dad7d7;
 }
</style>



<div class="container" style="position:relative;">
<h1>商品一覧</h1>
<div style="position:absolute; top: 30px; right: 12px;">
	<%= link_to new_admins_product_path do %>
		<span class="btn btn-primary">新規商品登録</span>
	<% end %>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td>
					<%= attachment_image_tag product, :image, :fill, 50, 50 %>
					<%= link_to admins_product_path(product.id) do %>
					<%= product.name %>
					<% end %>
			</td>
			<td><%= product.price %></td>
			<td><%= product.genre.name %></td>
			<td>
				<% if product.is_stopped? %>
					<span class="badge" style="background:#D52438">販売停止</span>
				<% else %>
					<span class="badge" style="background:#8BCE9A">販売中</span>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

