
<div class="container" >
	<div class="row" >
		<div class="col-xs-1" ></div>
		<div class="col-xs-5" style ="margin: 100px 0 100px 0">
			<%= attachment_image_tag @product, :image,style: "width:100%; "%>
		</div>
		<div class="col-xs-6" style ="margin: 100px 0 100px 0">
<<<<<<< HEAD

=======
			<table class="table">
					<tr>
						<th>商品名</th>
>>>>>>> master
						<td><%= @product.name %></td>
						<td><%= @product.introduction %></td>

						<th>税込価格 （税抜価格）</th>
						<td><%= addTax(@product.price) %>   (<%= @product.price %>)  円</td>
			<td><%= link_to  do%>
				<p class="btn btn-info"></p>
			</td>
			<% end %>
		</div>
	</div>
</div>


