
<!-- col-xs-3のcss -->
<style>
.each_item{
	padding: 0px 5px;
	height: 250px;
	margin-top: 15px;
	overflow-y: scroll;
}
/*viewport*/
img i{
	width: 100%;
}

@media screen and (min-width: 1024px){
	img i{
		width: 80%;
	}
}

@media screen and (max-width: 768px){
	img i{
		width: 60%;
	}
}

@media screen and (max-width: 425px){
	img i{
		width: 50%;
	}
}

</style>

	<div class="row" style="width: 90%; margin: 20px auto;">
	<img src="/assets/tart1" alt="非表示", style = " height: 550px; width: 100%;">
		<h1>PRODUCTS</h1>
		<span ><strong>ジャンルで検索</strong></span>
			<% @genres.each do |genre| %>

	 				<%= link_to root_path(genre: genre.id) do %>
	 					<span style = "background-color: #2D714C" class="badge"><%= genre.name %></span>
	 				<% end %>
   		 		<% end %>

   		 <div class="row">
			<% @products.each do |product| %>
					<div class="col-xs-3 each_item">
						<%= link_to product_path(product) do %>
						  <%= attachment_image_tag product, :image, style:"width:100%; bottom: 45px;" %>
						<% end %>
						<%= product.name %>
						<%= product.price %>円<br>
						<%= product.introduction%>
					</div>
			<% end %>
		</div>
	</div>
