
<h1>注文詳細画面</h1>
<%= link_to admins_user_path(@order.id) do%>
<%=  @order.user.name %>
<%end%>

<%= @order.user.ship_to_address %>
<%= @order.user.ship_to_name %>

<%=　@order.payment %>

<%= @order.deposit_status %>

<button class="btn btn-primary">更新</button>

<% @order.ordered_items each do |ordered_item| %>

	<%= ordered_item.product.name %>

	<%= addTax(ordered_item.product.price) %>

	<%= ordered_item.quantity %>

	<%= totalPrice(ordered_item.product.price,quantity) %>

<%= ordered_item.select :product_status, OrderedItem.product_statuses.keys.to_a, {} %>

<% end %>

	<%= @order.total_price %>

	<%= @order.postage %>

	<%= allPrice(@order.total_price,postage)%>
