<!-- admin側のheader -->
	<img src="/assets/logo.jpg" style="height:100px; display:block; margin: 0 auto">
<div class="link_box" style="margin: 0 auto 20px; text-align: center;">
	<ul style="list-style: none;">
		<li style="display:inline-block;">
			<%=link_to admins_products_path do%>
				<span style="color:#694D49; margin-right: 10px;">商品一覧</span>
			<% end %>
		</li>
		<li style="display:inline-block;">
			<%=link_to admins_users_path do%>
				<span style="color:#694D49; margin-right: 10px;">会員一覧</span>
			<% end %>
		</li>
		<li style="display:inline-block;">
			<%=link_to admins_orders_path do%>
				<span style="color:#694D49; margin-right: 10px;">注文履歴一覧</span>
			<% end %>
		</li>
		<li style="display:inline-block;">
			<%=link_to admins_genres_path do%>
				<span style="color:#694D49; margin-right: 10px;">ジャンル管理</span>
				<%end%>
		</li>
		<li style="display:inline-block;">
			<%=link_to destroy_admin_session_path, method: :delete do%>
				<span style="color:#694D49; ">ログアウト</span>
			<%end%>
		</li>
	</ul>
</div>