<!-- admin側のheader -->
<style>
	#header {
		width: 100%;
		height: 181px;
		border-bottom: 1px solid #dad7d7;
		padding: 20px;
	}
	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		color:#694d49;
		margin-right: 10px;
	}
</style>

<div id="header">
<p>管理者ページ</p>
<%= link_to admins_path do %>
	<img src="/assets/logo.jpg" style="height:100px; display:block; margin: 0 auto;">
<% end %>

<div class="box" style="margin: 0 auto; text-align: center;">
	<ul>
		<li><%=link_to '商品一覧', admins_products_path %></li>
		<li><%=link_to '会員一覧', admins_users_path %></li>
		<li><%=link_to '注文履歴一覧', admins_orders_path %></li>
		<li><%=link_to 'ジャンル管理', admins_genres_path %></li>
		<li><%=link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
	</ul>
</div>
</div>