<style>
	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		color:#694d49;
		margin-right: 10px;
	}
</style>



<div id="header" style="border-bottom:1px solid #dad7d7">

<!-- 退会済みユーザーの場合は表示を変える。 -->
	<% if user_signed_in? && current_user.is_deleted? %>
			<p style="text-align:right; padding: 10px 10px 0 0; color:#694D49;">
				あなたは退会済みです
			</p>
	<% elsif user_signed_in? && !current_user.is_deleted %>
			<p style="text-align:right; padding: 10px 10px 0 0; color:#694D49;">
				ようこそ、
				<%= link_to current_user.first_name, user_path(current_user) %>
				さん
			</p>
	<% end %>

<%= link_to root_path do %>
		<img src="/assets/logo.jpg" style="height:100px; display:block; margin: 0 auto">
<% end %>


<div id="box" style="margin: 0 auto 20px; text-align: center;">
	<% if user_signed_in? && !current_user.is_deleted? %>
<!-- ログイン時表示される内容-->
	<ul>
		<li><%= link_to 'ABOUT US', home_about_path %></li>
		<li><%= link_to 'SHOPPING', cart_items_path %></li>
		<li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
	</ul>

	<% else %>
<!-- ログアウト時に表示される内容 -->
	<ul>
		<li><%= link_to 'ABOUT US', cart_items_path %></li>
		<li><%= link_to 'SIGN UP', new_user_registration_path %></li>
		<li><%= link_to 'LOGIN', new_user_session_path %></li>
	</ul>
	<% end %>
</div>
</div>