<header style="border-bottom:1px solid #dad7d7">

<% if user_signed_in? %>
<p style="text-align:right; padding: 10px 10px 0 0; color:#694D49;">
	ようこそ、
  <%= link_to user_path(current_user) do %>
	<%= current_user.first_name %>
  <% end %>
  	さん
</p>
<% end %>

<img src="/assets/logo.jpg" style="height:100px; display:block; margin: 0 auto">
<div class="link_box" style="margin: 0 auto 20px; text-align: center;">
	<% if user_signed_in? %>

<!-- ログイン時表示される内容-->
	<ul style="list-style: none;">
		<li style="display:inline-block;">
			<%= link_to cart_items_path do %>
			<span style="color:#694D49; margin-right: 10px;">ABOUT US</span>
			<% end %>
		</li>
		<li style="display:inline-block;">
			<%= link_to cart_items_path do %>
			<span style="color:#694D49; margin-right: 10px;">SHOPPING</span>
			<% end %>
		</li>
		<li style="display:inline-block;">
			<%= link_to destroy_user_session_path, method: :delete do %>
			<span style="color:#694D49;">LOGOUT</span>
			<% end %>
		</li>
	</ul>
	<% else %>
<!-- 非ログイン時、または非会員に表示される内容 -->
	<ul style="list-style:none;">
		<li style="display:inline-block;">
			<%= link_to cart_items_path do %>
			<span style="color:#694D49;">ABOUT US</span>
			<% end %>
		</li>
		<li style="display:inline-block;">
			<%= link_to new_user_registration_path do %>
			<span style="color:#694D49;">SIGN UP</span>
			<% end %>
		</li>
		<li style="display:inline-block;">
			<%= link_to new_user_session_path do %>
			<span style="color:#694D49;">LOGIN</span>
			<% end %>
		</li>
	<% end %>
</div>


</header>