<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>

  <div id="container">
    <header>
        <% if admin_signed_in? %>
            <%= render 'layouts/adminheader' %>
        <% else %>
            <%= render 'layouts/header' %>
        <% end %>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer'%>
    </footer>

  </div>

  </body>
</html>
